body {
  background-color: #FFD4A7;
}

.recipe {
  background-color: aliceblue;
  width: 70%;
  max-width: 700px;
  margin: auto;
  border: 2px solid grey;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}
.description {
  margin-top: 20px;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 10px;
  border: grey 0.1rem solid;
}

.ingredients * {
  font-family: monospace; 
  font-size: 1.1em;
}

.ingredients li > ul {
  font-size: 0.8em;
}

.steps li {
  margin-top: 5px;
}
