* {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

.title {
  color: navy;
  font-weight: 900;
  margin-left: 30px;
}
.list {
  list-style: square;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: blue;
}
a:hover {
  font-weight: 600;
}

.list li {
  text-align: center;
  list-style: none;
  max-width: 200px;
  background-color: lightblue;
  padding: 8px;
  border: solid 3px beige;
  border-radius: 20px;
  margin: 8px;
}
